<% provide(:title, 'FAQ') %>
<%= javascript_include_tag "faq" %>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-43815419-2', 'vax.herokuapp.com');
    ga('send', 'pageview');

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-xxxxx-y']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;

        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>


<div id="accordion">
  <h3 id="faqHead">What is VAX?</h3>
  <div>
    <p class="faqText">
      First and foremost, Vax! is a game about epidemic prevention. It's also
      an interactive learning environment designed to visualize a process that
      strains our imagination: A contagion spreading across a network.
    </p>

    <p class="faqText">
      Players are tasked to prepare for an outbreak by vaccinating a network that resembles human social networks. After distributing vaccines, an infectious outbreak begins to spread and the player is tasked to quell the epidemic by quarantining individuals at risk of becoming infected.
    </p>

    <p class="faqText">
      Vax! is a puzzle-game infused with chance that was inspired by real-world challenges, infectious disease modeling, and addictively rewarding gameplay.
    </p>

    <p class="faqText">
      It was developed by <a style="color:#2692F2" href=http://twitter.com/EllsCubed> Ellsworth Campbell</a>, a PhD student in the <a style="color:#2692F2" href=http://www.salathegroup.com/>Salathé Group</a> at <a style="color:#2692F2" href=http://www.psu.edu/>Penn State University</a>. Graphic design by <a style="color:#2692F2" href=http://www.linkedin.com/pub/isaac-bromley/63/479/45b>Isaac Bromley</a>.
      Released under a <a style="color:#2692F2" href=http://creativecommons.org/licenses/by-sa/3.0/>Creative Commons Attribution-ShareAlike license</a>.
    </p>
  </div>


  <h3 id="faqHead">How was VAX made?</h3>
    <div>
      <p class="faqText">
        Vax! is a <a style="color:#2692F2" href=http://rubyonrails.org/>Rails</a> application that leverages the <a style="color:#2692F2" href=http://d3js.org/> d3js</a> library for dynamic visualizations and player interactions. If you'd like to learn more about its implementation, the code is available on <a style="color:#2692F2" href="http://github.com/salathegroup/VaxGame/issues">GitHub</a>.

      </p>
    </div>


  <h3 id="faqHead">Future of VAX?</h3>
  <div>
    <p class="faqText">
     We plan to develop modules, designed as mini-games, to delve into complex
     topics related to the spread of infectious diseases.
    </p>
    <p class="faqText">
    The goal is advance the public's understanding without the technical jargon and equations.
    </p>
  </div>
  <h3 id="faqHead">Where can I learn more?</h3>
  <div >
    <p class="faqText" >
      The best place to start is the (free) <a style="color:#2692F2" href="http://www.coursera.org/course/epidemics">online course</a>
      hosted by <a style="color:#2692F2" href=http://www.coursera.org>Coursera</a>, the <a style="color:#2692F2" href=http://www.cidd.psu.edu/>Center for Infectious Disease Dynamics</a>, and <a style="color:#2692F2" href=http://www.psu.edu/>Penn State University</a>.
    </p>
    <p class="faqText">
      Check out <a style="color:#2692F2" href="http://www.moocdemic.com/">MOOCDEMIC</a>: a location-based simulation game. Playable on any mobile device with a browser, this massive open online epidemic game will engage players to detect, spread, and ultimately control a virtual infectious disease. The game is free and designed to help teach some key concepts about epidemiology.
    </p>

  </div>

  <h3 id="faqHead">Why quarantine healthy people?</h3>
  <div >
    <p class="faqText" >
      This is epidemiology jargon that has been obscured by Hollywood. We "isolate" the sick and "quarantine" the healthy that may have been exposed. Check out the <a style="color:#2692F2" href="http://www.cdc.gov/quarantine/"> CDC's article</a> on the subject.


    </p>


  </div>

  <h3 id="faqHead">What should I do if I've found a bug?</h3>
  <div>
    <p class="faqText">
       The code for Vax! is open and available on <a style="color:#2692F2" href="http://github.com/salathegroup/VaxGame/issues">GitHub</a>.
       There you can submit a detailed bug report and we'll take a look.
    </p>
  </div>

  <h3 id="faqHead">Privacy Policy...</h3>
  <div>
    <p class = "faqText">
        User data collection is managed by Google Analytics and Quantcast. <i>Our servers do not store any user information</i>. In the future, data collection may expand to gameplay habits and strategies for research purposes. Such changes will require <a style="color:#2692F2" href=http://en.wikipedia.org/wiki/Institutional_review_board>IRB</a> approval and an updated privacy policy. See our privacy policy here: <a href="http://www.iubenda.com/privacy-policy/415399" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
    </p>
  </div>


</div>
