<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "herdImmunity.js" %>
  <meta name="description" content="Learn the core concepts of Herd Immunity with this interactive simulation.">
  <meta name="keywords" content="what is herd immunity, what is community immunity, herd immunity, herd immunity threshold, basic reproductive number, R0, vaccination, vax, epidemic prevention">



</head>
<body>

</body>
</html>