<!DOCTYPE html>
<html>
<head>
  <% provide(:title, 'Home') %>
  <%= javascript_include_tag "footerMenu" %>
  <%= javascript_include_tag "home" %>


  <%= csrf_meta_tags %>

</head>
<body>



</body>

</body>

</html>

