<div class="center hero-unit">
  <h1>Vax</h1>

  <h2>"A game about epidemic prevention."</h2>

  <h3>At the nexus of
    <a href="http://en.wikipedia.org/wiki/Gamification"> Gamification</a>,
    <a href="http://en.wikipedia.org/wiki/Citizen_science">Citizen Science</a>
    and
    <a href="http://en.wikipedia.org/wiki/Public_health#Public_Health_2.0"> Public Health</a>
  </h3>

  <%= link_to "Play!", game_path, class: "btn btn-large btn-primary" %>
</div>

