<% provide(:title, 'Scenario Selection') %>
<%= javascript_include_tag "modeSelect" %>

<div id="accordion">

  <h3 id="scenarioHead">Workplace / School</h3>
      <div>

        <p class="scenarioText" >
          Ever wonder why germs spread so readily at work and school? This network resembles contacts at a typical American high school. How many will you save...


        </p>

        <p class="scenarioThumbnail" >


        </p>

        <p class="actionBay" >


        </p>

      </div>


  <h3 id="scenarioHead">Movie Theater / Lecture Hall</h3>
      <div>

        <p class="scenarioText" > When was the last time you went to class or saw a movie and didn't hear multiple people sneezing and coughing? See if you can stop the spread on this grid-like network...


        </p>

        <p class="scenarioThumbnail" >


        </p>

        <p class="actionBay" >


        </p>



      </div>


  <h3 id="scenarioHead">Restaurant</h3>
      <div>

        <p class="scenarioText" >
          What if the server at your favorite restaurant decides to come to work with the flu? How many tables will you save...


        </p>

        <p class="scenarioThumbnail" >


        </p>

        <p class="actionBay" >


        </p>


      </div>

  <h3 id="scenarioHead">Organization</h3>
      <div >

        <p class="scenarioText" > Pathogens follow us to the gym, our book clubs, and Tee Ball practice. Try stopping the epidemic on this (real) contact network of a children's karate club...


        </p>

        <p class="scenarioThumbnail" >


        </p>

        <p class="actionBay" >


        </p>



      </div>

  <h3 id="scenarioHead">Shopping</h3>
  <div >
    <p class="scenarioText" > You're at the checkstand at the local grocery and you notice the person next to you is purchasing robitussin for an obvious cough. Will you contain it before it gets out of control...


    </p>

    <p class="scenarioThumbnail" >


    </p>

    <p class="actionBay" >


    </p>

  </div>

  <h3 id="scenarioHead">Random Networks</h3>
      <div>
        <p class="scenarioText" >
          Original Vax. Play on a dynamically generated level that is designed to resemble human social networks. Customize the level to your liking after you beat all three difficulties!


        </p>

        <p class="scenarioThumbnail" >


        </p>

        <p class="actionBay" >


        </p>

      </div>




</div>
