<!DOCTYPE html>
<html>
<head>

  <% provide(:title, 'Scenario') %>
  <%= javascript_include_tag "jquery.cookie" %>
  <%= javascript_include_tag "footerMenu" %>
  <%= javascript_include_tag "staticNets" %>
  <%= javascript_include_tag "scenarioGame" %>



</head>

<body>

<audio id="audio">
  <source src="/assets/pop.wav" type="audio/wav" />
</audio>


<div class="actionVax" onclick=activateGameVaccinationMode()>
  <div class="vaccineDepressedState"></div>
  <text id = "vaxShieldText"> VACCINES </text>
  <img id="vaxShieldIcon" src="/assets/vaxShield.svg" onclick=activateGameVaccinationMode()>
</div>

<div class="actionQuarantine" onclick=activateGameQuarantineMode()>
  <div class="quarantineDepressedState"></div>
  <text id = "quarantineText"> QUARANTINE </text>
  <img id="quarantineIcon" src="/assets/quarantine.svg" onclick=activateGameQuarantineMode()>
</div>










</body>


</html>

