<!DOCTYPE html>
<html>
<head>
  <% provide(:title, 'Vax') %>
  <%= javascript_include_tag "d3.v3.min" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery.cookie" %>
  <%= csrf_meta_tags %>
</head>

<body>



</body>

</html>

