<!DOCTYPE html>
<html>
<head>

  <% provide(:title, 'Score Recap') %>
  <%= javascript_include_tag "jquery.cookie" %>
  <%= javascript_include_tag "scores" %>




</head>

<body>





</body>


</html>

