<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <%= javascript_include_tag "jquery-ui-1.10.3.custom" %>
  <%= javascript_include_tag "d3.v3" %>
  <%= javascript_include_tag "test" %>


</head>

    <body>

     <div id="scoreRecapDiv">
       <div id="leftScoresDiv">
         <div class="scoresLarge"> Network Size: 20 </div>
         <div class="scoresSmall"> Vaccinated: 3 </div>
         <div class="scoresSmall"> Quarantined: 5 </div>
         <div class="scoresSmall"> Untreated: 1 </div>
       </div>

       <svg id="scoreRecapSVG"> </svg>


       <div id="rightScoresDiv">
         <div class="scoresMedium" id="infectedLegend"> Uninfected </div>
         <div class="scoresMedium" id="uninfectedLegend"> Infected </div>
       </div>




     </div>


    </body>

</html>