<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8" />
  <%= javascript_include_tag "jquery-ui-1.10.3.custom" %>

<div id = "customMenuDiv" >

  <div class = "customHeaderFooter" id = "customLevelHeader"> CUSTOM MENU </div>


  <div class = "customMenuItem" id = "customNodes"> Nodes: 75 </div>
  <div id = "nodeSlider">  </div>

  <div class = "customMenuItem" id = "customDegree"> Neighbors: 4ea. </div>
  <div id = "degreeSlider" >  </div>

  <div class = "customMenuItem" id = "customVaccines"> Vaccines: 15 </div>
  <div id = "vaccineSlider" >  </div>

  <div class = "customMenuItem" id = "customOutbreaks"> Outbreaks: 2 </div>
  <div id = "outbreakSlider" >  </div>


  <div class = "customHeaderFooter" id = "customSubmit"> OKAY </div>


</div>