<!DOCTYPE html>
<html>
    <head>
      <% provide(:title, 'Vax') %>
      <%= csrf_meta_tags %>

    </head>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-43815419-2', 'vax.herokuapp.com');
        ga('send', 'pageview');

    </script>

    <body>

    <audio id="audio">
      <source src="/assets/pop.wav" type="audio/wav" />
    </audio>


    <div class="actionVax" onclick=activateVaccinationMode()>
          <div class="vaccineDepressedState"></div>
          <text id = "vaxShieldText"> VACCINES </text>
          <img id="vaxShieldIcon" src="/assets/vaxShield.svg" onclick=activateVaccinationMode()>
        </div>

        <div class="actionQuarantine" onclick=activateQuarantineMode()>
          <div class="quarantineDepressedState"></div>
          <text id = "quarantineText"> QUARANTINE </text>
          <img id="quarantineIcon" src="/assets/quarantine.svg" onclick=activateQuarantineMode()>
        </div>
    </body>

</html>

