/tmp/cache/*
*.scssc

*.log

log/development.log

*.log

.DS_Store

.idea/workspace.xml

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project

.idea/jsLibraryMappings.xml

.idea/dataSources.xml

.idea/dataSources.xml

.idea/VaxGame.iml

.idea/VaxGame.iml

.idea/.generators

.idea/.generators
