@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Nunito:300,400,700);


/* mixins, variables, etc. */

$grayMediumLight: #f1f1f1;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */


svg {
  padding-top: 0px;
  background-color: $grayMediumLight;
  left: 0%;

}

html {
  overflow-y: scroll;
  background-color: $grayMediumLight;
  left: 0%;

}

body {
  left: 0%;


  background-color: $grayMediumLight;
}

div {
  left: 0%;

  background-color: $grayMediumLight;

}


/* typography */

h1, h2, h3, h4, h5, h6 {
  background-color: $grayMediumLight;
  line-height: 1;
}

h1 {
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
  background-color: $grayMediumLight;

}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  background-color: $grayMediumLight;
}

p {
  line-height: 1.7em;
  background-color: $grayMediumLight;
}
