@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */


svg {
  padding-top: 0px;
  background-color: #f1f1f1;
}

html {
  overflow-y: scroll;
  background-color: #f1f1f1;
}

body {
  padding-top: 0px;
  background-color: #f1f1f1;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  background-color: #f1f1f1;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  background-color: #f1f1f1;

}

h2 {
  font-size: 1.7em;
  font-style: italic;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  background-color: #f1f1f1;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  background-color: #f1f1f1;
}
