.faqTitle {
  font-family: "Nunito";
  font-size: 32px;
  font-weight: 400;
  color: #707070;
}

#accordion.faq-accordion {
  margin-top: 9px;
}

.faq-wrapper {
  margin-top: 60px;
  margin-bottom: 100px;
}

.faqText {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 300;
}

#faqHead {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 300;
}


.helpAbout {
  position: absolute;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 14px;
  color: white;
  width:300px;
  height: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 12px;
  text-align: center;
  top: 50px;
  right:0px;
  cursor: pointer;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.helpVaxLogoDiv {
  position:absolute;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 28px;
  color: white;
  width:125px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  top: 50px;
  left:-12px;
  cursor: pointer;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
