.popup_game_share {
  position: absolute;
  top: 330px;
  left: 270px;
  visibility: hidden;
}


#pinNodesDiv {
  position: absolute;
  top: 5px;
  left: 20px;
  width: 140px;
  height: 200px;
}

#pinHeader {
  position: absolute;
  top: 0px;
  font-family: "Nunito";
  font-weight: 500;
  font-size: 16px;
  margin: 10px;

}

#pinText {
  position: absolute;
  top: 18px;
  left: -15px;
  text-align: center;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 15px;
  margin: 10px;


}

#unPinText {
  position: absolute;
  text-align: center;
  left: -15px;
  top: 65px;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 15px;
  margin: 10px;

}


.gameMenuBox {
  position:absolute;
  background: #85bc99;
  float:right;
  color: "white";
  width:250px;
  height: 45px;
  padding-top: 30px;
  padding-left: 0px;
  top: 85%;
  right:-300px;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.gameMenuBoxItem {
  position: relative;
  float: right;
  font-size: 15px;
  font-family: "Nunito";
  font-weight: 300;
  color: #ffffff;
  padding-top: 0px;
  right: 10px;
  padding-right: 30px;
  padding-left: 28px;
  cursor: pointer;
}

.gameVaxLogoDiv {
  position:absolute;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 28px;
  color: white;
  width:125px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  top: 85%;
  left:-300px;
  cursor: pointer;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

// game screen

.newGameHeader {
  position: absolute;
  background: none;
  top: 50px;
  left: 30px;
  font-size: 30px;
  font-family: "Nunito";
  font-weight: 500;
  color: #707070;
}

.difficultySelection {
  position: absolute;
  left: 100px;
  top: 125px;
  height: 600px;
  width: 700px;
  vertical-align: middle;
}

.difficultyItem {
  position: relative;
  font-size: 32px;
  display: block;
  font-family: "Nunito";
  font-weight: 300;
  color: #707070;
  margin-top: 30px;
  cursor: pointer;
}

.difficultyItemGrey {
  position: relative;
  font-size: 32px;
  display: block;
  font-family: "Nunito";
  font-weight: 300;
  color: #BABABA;
  margin-top: 30px;
  cursor: pointer;

}

.vaxLogoDiv {
  position:relative;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 28px;
  color: white;
  width:125px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  visibility: hidden;
  top: 0px;
  left:-200px;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}


.difficultyHeader {
  position: relative;
  font-size: 22px;
  font-family: "Nunito";
  font-weight: 700;
  color: #707070;
  padding-top: 30px;

}

// custom game menu
#customMenuDiv {
  position: relative;
  top: 50px;
  height: 600px;
  width: 35%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background: #85bc99;
  color: #ffffff;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  visibility: hidden;

}


.customMenuItem {
  font-size: 30px;
  font-family: "Nunito";
  font-weight: 300;
  color: #ffffff;
  padding-top: 60px;
  padding-right: 28px;
  padding-left: 28px;
}

.customHeaderFooter {
  font-size: 22px;
  font-family: "Nunito";
  font-weight: 700;
  color: #ffffff;
  padding-top: 20px;
  padding-right: 28px;
  padding-left: 28px;

}

.okayButton {
  position:relative;
  font-size: 24px;
  font-family: "Nunito";
  font-weight: 500;
  color: #ffffff;
  top: 60px;
  cursor: pointer;
}

#nodeSlider, #degreeSlider, #vaccineSlider, #outbreakSlider, #refuserSlider {
  position: relative;
  margin: 20px;
  margin-top: 30px;
  left: 9%;
  height: .3em;
  width: 75%;
  margin-bottom: -25px;

  .ui-slider-handle {
    width: 2em;
    height: 2em;
    margin-top: -9px;
  }

}

.recapText {
  position: relative;
  font-family: "Nunito";
  fill: #707070;
  font-weight: 300;
  font-size: 25px;
}

.recapButton {
  position: relative;
  font-family: "Nunito";
  fill: #707070;
  font-weight: 500;
  font-size: 28px;
}

.about {
  position: absolute;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 14px;
  color: white;
  width:155px;
  height: 25px;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 12px;
  text-align: center;
  top: 100%;
  right:-500px;
  cursor: pointer;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}