path {
  stroke-width: 1.5px;
}

body {
  font: 13px sans-serif;
  position: absolute;
  left: 50px;
  width: 960px;
  height: 500px;
}
.node {
  cursor: crosshair;
}
.link {
  stroke: #000;
  stroke-width: 1;
}

a {
  color:#0000FF;
  text-decoration:none; }

div0 {
  position: absolute;
  left: 520px;
  top: 60px;
  text-align: left;
  margin: 1px ;
  padding: 1px ;
  background: #fff;
  height: 254px;
  width: 525px;
  border: 1px solid #ACD8F0;
  overflow:auto;
}

div1 {
  position: absolute;
  left: 521px;
  top: 320px;
  text-align:left;
  margin:0px;
  margin-bottom:25px;
  padding:px;
  background:#fff;
  height:250px;
  width:527px;
  border:1px solid #ACD8F0;
  overflow:auto;
}



