
.gameMenuBox {
  position:absolute;
  background: #85bc99;
  float:right;
  color: "white";
  width:375px;
  height: 45px;
  bottom: 50px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  right:-10px;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.gameMenuBoxItem {
  position: relative;
  float: right;
  font-size: 15px;
  font-family: "Nunito";
  font-weight: 300;
  color: #ffffff;
  padding-top: 0px;
  padding-right: 30px;
  padding-left: 28px;
  cursor: pointer;
}

.gameVaxLogoDiv {
  position:absolute;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 28px;
  color: white;
  width:125px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  bottom: 50px;
  left:-12px;
  cursor: pointer;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

// game screen

.newGameHeader {
  position: absolute;
  background: none;
  top: 50px;
  left: 30px;
  font-size: 30px;
  font-family: "Nunito";
  font-weight: 500;
  color: #707070;
}

.difficultySelection {
  position: absolute;
  top: 200px;
  height: 500px;
  width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

.difficultyItem {
  position: relative;
  font-size: 32px;
  display: block;
  font-family: "Nunito";
  font-weight: 300;
  margin-left: 40%;
  margin-right: 40%;
  color: #707070;
  margin-top: 30px;
  cursor: pointer;
}

.difficultyItemGrey {
  position: relative;
  font-size: 32px;
  display: block;
  font-family: "Nunito";
  font-weight: 300;
  margin-left: 40%;
  margin-right: 40%;
  color: #BABABA;
  margin-top: 30px;
  cursor: pointer;

}

.difficultyHeader {
  position: relative;
  font-size: 22px;
  font-family: "Nunito";
  font-weight: 700;
  color: #707070;
  padding-top: 30px;

}

// custom game menu
#customMenuDiv {
  position: relative;
  top: 50px;
  height: 525px;
  width: 35%;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background: #85bc99;
  color: #ffffff;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  visibility: hidden;

}



.customMenuItem {
  font-size: 35px;
  font-family: "Nunito";
  font-weight: 300;
  color: #ffffff;
  padding-top: 60px;
  padding-right: 28px;
  padding-left: 28px;
}

.customHeaderFooter {
  font-size: 22px;
  font-family: "Nunito";
  font-weight: 700;
  color: #ffffff;
  padding-top: 20px;
  padding-right: 28px;
  padding-left: 28px;

}

.okayButton {
  position:relative;
  font-size: 24px;
  font-family: "Nunito";
  font-weight: 500;
  color: #ffffff;
  top: 60px;
  cursor: pointer;
}

#nodeSlider, #degreeSlider, #vaccineSlider, #outbreakSlider {
  position: relative;
  margin: 20px;
  margin-top: 30px;
  left: 9%;
  height: .3em;
  width: 75%;
  margin-bottom: -25px;

  .ui-slider-handle {
    width: 2em;
    height: 2em;
    margin-top: -9px;
  }

}

