#hiNav {
  position:relative;
  background: #85bc99;
  float:right;
  color: "white";
  width:225px;
  height: 45px;
  top: 25px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  right:-5px;
  visibility: visible;
  display: inline;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}