.hiVaxSlider {
  position: relative;
  margin: 20px;
  margin-top: 30px;
  left: 9%;
  height: .3em;
  width: 75%;
  margin-bottom: -25px;

  .ui-slider-handle {
    width: 2em;
    height: 2em;
    margin-top: -9px;
    border-radius: 50px;
  }

  .ui-state-default {
    background: "white";

  }



}