
#scenarioAccordion {
  position:absolute;
  left: 250px;
  top: 130px;
  width: 60%;
  padding-bottom: 20px;
}


.scenarioDiv {
  height: 295px;
}

.scenarioText {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 300;

}

.difficultyPopover {
  position: absolute;
  display: inline;
  background: #f1f1f1;
  top: -60px;
  left: 175px;
  height: 150px;
  width: 150px;
  color: #f1f1f1;
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 300;
  box-shadow:5px 6px #f1f1f1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

}

#difficultyPopoverHeader {
  color: #85bc99;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 500;

}

.popoverStat {
  margin-top: 5px;
  font-weight: 200;
  font-family: "Nunito";
  font-size: 18px;
  display: block;
  text-align: center;
  text-justify: center;
}

.scenarioHead {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 300;

}

#workSVG, #theaterSVG, #restaurantSVG, #clubSVG, #shopSVG, #originalSVG {
  pointer-events: all;
  position: absolute;
  width: 175px;
  height: 200px;
}

#workEasy, #workMedium, #workHard, #theaterEasy, #theaterMedium, #theaterHard, #restaurantEasy, #restaurantMedium, #restaurantHard, #clubEasy, #clubMedium, #clubHard, #shopEasy, #shopMedium, #shopHard, #originalEasy, #originalMedium, #originalHard {
  fill: #707070;
  font-family: "Nunito";
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.scenarioThumbnail {
  position: relative;
  left: 0px;
  display: inline;
}

.scenarioAction {
  position: relative;
  display: inline;
}

.lock  {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 10px;
}

.scenarioSavesDiv {
  position:absolute;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 22px;
  color: #f1f1f1;
  width:100px;
  height: 125px;
  padding-top: 5px;
  padding-left: 12px;
  text-align: center;
  top: 185px;
  left:-12px;
  cursor: pointer;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.savesText {
  font-family: "Nunito";
  font-weight: 300;
  font-size: 18px;
  fill: #f1f1f1;

}


.scenarioVaxLogoDiv {
  position:absolute;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 28px;
  color: #f1f1f1;
  width:125px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  top: 45px;
  left:-12px;
  cursor: pointer;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.verifyUnlockBox {
  position:absolute;
  background: #85bc99;
  float:right;
  color: "#f1f1f1";
  width:300px;
  height: 100px;
  padding-top: 30px;
  padding-left: 0px;
  top: -100px;
  left: 35%;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.verifyUnlockHeader {
  position: absolute;
  top: 20px;
  left: 40px;
  color: #f1f1f1;
  font-family: "Nunito";
  font-weight: 500;
  font-size: 28px;
}

.verifyUnlockCost {
  position: absolute;
  left: 56px;
  top: 100px;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 24px;
}

.verifyUnlockYes {
  position: absolute;
  left: 80px;
  top: 62px;
  color: #f1f1f1;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 22px;
  cursor: pointer;
}

.verifyUnlockNo {
  position: absolute;
  left: 180px;
  top: 62px;
  color: #f1f1f1;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 22px;
  cursor: pointer;
}

