#accordion {
  position:absolute;
  left: 200px;
  top: 200px;
  width: 65%;
  padding-bottom: 50px;
}

.scenarioText {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 300;

}

.scenarioHead {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 300;
}

#workSVG, #theaterSVG, #restaurantSVG, #clubSVG, #shopSVG, #originalSVG {
  pointer-events: all;
  position: absolute;
  width: 200px;
  height: 200px;
}

.workEasy, .workMedium, .workHard, .theaterEasy, .theaterMedium, .theaterHard, .restaurantEasy, .restaurantMedium, .restaurantHard, .clubEasy, .clubMedium, #clubHard, .shopEasy, .shopMedium, .shopHard, .originalEasy, .originalMedium, .originalHard {
  fill: #707070;
  font-family: "Nunito";
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.scenarioThumbnail {
  position: relative;
  left: 0px;
  display: inline;

}

.scenarioAction {
  position: relative;
  display: inline;
}

.lock  {
  position: absolute;
  height: 25px;
  width: 25px;
  left: 10px;
}



.scenarioVaxLogoDiv {
  position:absolute;
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 28px;
  color: white;
  width:125px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  top: 50px;
  left:-12px;
  cursor: pointer;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.verifyUnlockBox {
  position:absolute;
  background: #85bc99;
  float:right;
  color: "white";
  width:300px;
  height: 100px;
  padding-top: 30px;
  padding-left: 0px;
  top: -100px;
  left: 35%;
  box-shadow:5px 6px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.verifyUnlockHeader {
  position: absolute;
  left: 40px;
  color: white;
  font-family: "Nunito";
  font-weight: 500;
  font-size: 28px;
  cursor: pointer;
}

.verifyUnlockYes {
  position: absolute;
  left: 80px;
  top: 80px;
  color: white;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 22px;
  cursor: pointer;
}

.verifyUnlockNo {
  position: absolute;
  left: 180px;
  top: 80px;
  color: white;
  font-family: "Nunito";
  font-weight: 300;
  font-size: 22px;
  cursor: pointer;
}

