.scenarioTitle {
  font-family: "Nunito";
  fill: #707070;
  font-weight: 400;
  font-size: 40px;
}

.networkSize, .refuserCount, .refuserCountText, .vaxAvailable, .vaxCount {
  font-family: "Nunito";
  fill: #BABABA;
  font-weight: 300;
  font-size: 20px;
}

.bar rect {
  fill: #00adea;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #f1f1f1;
}

.axis path, .axis line{
  fill: #707070;
  stroke: #707070;
  shape-rendering: crispEdges;
}


