.scenarioTitle {
  font-family: "Nunito";
  fill: #707070;
  font-weight: 400;
  font-size: 40px;
}

.networkSize, .refuserCount, .refuserCountText {
  font-family: "Nunito";
  fill: #BABABA;
  font-weight: 300;
  font-size: 20px;
}
