#vaxShieldText {
  position:relative;
  font-family: "Nunito";
  font-size: 10px;
  font-weight: 300;
  fill: "white";
  top: -32px;
  right: -20px;
}

.vaccineDepressedState {
  position: absolute;
  top: 0px;
  right: 17px;
  fill: #77a989;
  width: 75px;
  height: 75px;
  visibility:hidden;

}

.vaccineCounterText {
  position:absolute;
  top: 54px;
  right: 37px;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 300;
  fill: #ffffff;
}

#vaxShieldIcon {
  position: relative;
  width:85px;
  height:50px;
  right: -2px;
  top: -40px;
}

.actionVax {
  background: #85bc99;
  position:fixed;
  float:right;
  display: inline-block;
  width:100px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  top:20px;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  visibility:hidden;
  right:-200px;

}

.actionQuarantine {
  background: #85bc99;
  position:fixed;
  float:right;
  display: inline-block;
  width:100px;
  height: 45px;
  padding-top: 30px;
  padding-left: 12px;
  top:20px;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  visibility:hidden;
  right:-200px;
}

#quarantineText {
  position:relative;
  font-family: "Nunito";
  font-size: 10px;
  font-weight: 300;
  fill: "white";
  top: -32px;
  right: -15px;
}

.quarantineDepressedState {
  position: absolute;
  top: 0px;
  right: 17px;
  fill: #77a989;
  width: 75px;
  height: 75px;
  visibility:hidden;

}

.quarantineCounterText {
  position:absolute;
  top: 55px;
  right: 7px;
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 300;
  fill: #ffffff;
}

#quarantineIcon {
  position: relative;
  width:85px;
  height:50px;
  right: -2px;
  top: -32px;
}


div.menuBox {
  background: #85bc99;
  float:right;
  color: white;
  width:800px;
  height: 45px;
  position:relative;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  top:125px;
  right:-1000px;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

div.vaxLogoDiv {
  background: #85bc99;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 28px;
  color: white;
  width:125px;
  height: 45px;
  position:relative;
  padding-top: 30px;
  padding-left: 12px;
  text-align: center;
  top:200px;
  left:-200px;
  box-shadow:5px 7px #838383;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.guideTextSVG {
  position: absolute;
  top: 475px;
  width: auto;
  height: 175px;
  background: #f1f1f1; /* Old browsers */
  background: -moz-linear-gradient(top, #f1f1f1 3%, #ffffff 13%, #ffffff 89%, #f1f1f1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#f1f1f1), color-stop(13%,#ffffff), color-stop(89%,#ffffff), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f1f1f1 3%,#ffffff 13%,#ffffff 89%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f1f1f1 3%,#ffffff 13%,#ffffff 89%,#f1f1f1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f1f1f1 3%,#ffffff 13%,#ffffff 89%,#f1f1f1 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f1f1f1 3%,#ffffff 13%,#ffffff 89%,#f1f1f1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#f1f1f1',GradientType=0 ); /* IE6-9 */
}

.syringe{
  cursor: pointer;
}

.startText{
  cursor: pointer;
}

.node, .fixedVaxNode{
  stroke: #636363;
  stroke-width: 2px;
}

.link {
  stroke: #636363;
  stroke-width: 2px;
}

.nextArrow, .backArrow{
  cursor: pointer;
}



